<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevin.tinker">

    <application
        android:name=".tinker.MyTinkerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--gradle文件不需要这个，命令行需要-->
        <!--&lt;!&ndash;实际开发中，tinker_id_后面跟的一串数字是versionName或者versioncode&ndash;&gt;-->
        <!--&lt;!&ndash;TINKER_ID表明patch文件是否可以安装到apk中。检查patch文件的TinkerId和apk的TinkerId是否一样。&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="TINKER_ID"-->
            <!--android:value="tinker_id_1.0" />-->

    </application>
</manifest>