<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevin.tinker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--友盟统计所需权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".tinker.MyTinkerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".tinker.TinkerService" />
        <service android:name=".tinker.CustomResultService" />

        <!--&lt;!&ndash;gradle文件不需要这个，命令行需要&ndash;&gt;-->
        <!--&lt;!&ndash;实际开发中，tinker_id_后面跟的一串数字是versionName或者versioncode&ndash;&gt;-->
        <!--&lt;!&ndash;TINKER_ID表明patch文件是否可以安装到apk中。检查patch文件的TinkerId和apk的TinkerId是否一样。&ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="TINKER_ID"-->
        <!--android:value="tinker_id_1.0" />-->

        <!--value的值填写你在友盟后台申请的应用Appkey-->
        <meta-data android:value="5d8345080cafb2b2ac000a0f" android:name="UMENG_APPKEY"/>
        <!--value的值填写渠道名称，例如yingyongbao。这里设置动态渠道名称变量-->
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

    </application>
</manifest>